# Dépendances
node_modules/
**/node_modules/

# Variables d'environnement (NE JAMAIS committer !)
.env
.env.local
.env.production
**/.env
**/.env.local

# Build Next.js
.next/
out/

# Build backend
dist/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Prisma
prisma/migrations/
